* {
    box-sizing: border-box;
}
html {
    font-size: 18px;
    font-family: Assistant;
    background-color: #E5E5E5;
}



@media only screen and (max-width: 1000px) {
    html { 
        font-size : 16px;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 14px; 
    }
}
/* Nav on the top */
.nav-container {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 20;
    justify-content: space-between;
    background-color: #0A0C15;
    color: #E5E5E5;
    align-items: center;
    min-height: 10vh;
}

.nav {
    font-size: 1.2em;
}  

.nav-link-list {
    display: flex;
    font-family: Assistant;
}
  
.nav-link-projects {
    margin: 0 5em 0 5em;
}
  
.logo {
    padding-left: 1.3em;
    font-family: Josefin Sans;
    font-size: 3.5em;
    margin-right: 0.3em;
}
  
.social-links {
    padding-right: 2em;
}

.social-links-list {
    display: flex;
    font-size: 1.6em;
}

.nav-spacing {
    margin: 0 1em 0 1em;
}
/* Adding a menu burger for tablet and mobile only */
.menu-mobile {
    background: #0A0C15;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-mobile__burger {
    width: 40px;
    height: 6px;
    background: #E5E5E5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(175, 160, 169, 1);
    transition: all .5s ease-in-out;
}

.menu-mobile__burger::before, 
.menu-mobile__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background: #E5E5E5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(175, 160, 169, 1);
    transition: all .5s ease-in-out;
}

.menu-mobile__burger::before {
    transform: translateY(-16px);
}

.menu-mobile__burger::after {
    transform: translateY(16px);
}

/* Animation menu-burger */
.menu-mobile.open .menu-mobile__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-mobile.open .menu-mobile__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-mobile.open .menu-mobile__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* If 500px, deactivation of the links and media, activation of a menu burger */
@media only screen and (max-width: 800px) {
    .nav, .social-links {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .menu-mobile {
        display: none;
    }
}
/* Left container - Header - Intro */
.intro-container {
    background-color: #E5E5E5;
    padding-top: 2.5em;
    z-index: -1;
    display: flex; 
    margin-bottom: -1em;
    min-height: 100vh;
}

.intro-article {
    min-height: 70vh;
    width: 50%;
    padding: 0 12% 0 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Image on the right - Header Banner */
.intro-image {
    background-image: url(../images/michael-michera-by-michael-michera-zsummit-sculpt-off-2017-z.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 95vh;
    width: 50%;
    display: flex;
}

/* Hello and Welcome Wrapper */
.intro-title {
    display: flex;
    font-family: Patua One;
    font-size: 5em;
    color: #2A345E;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    margin: 2em auto .5em auto;
}

/* Hello title */
.title {
    animation: title 1.1s;
}


@keyframes title {
    0% {
        transform: translateY(-.5em);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    50% {
        transform: translateY(.5em);
    }

    100% {
        transform: translateY(0);
    }
}


/* Welcome */
.intro-welcome {
    background-color: #2A345E;
    padding: 0 .8em;
    color: #E5E5E5;
    font-family: Assistant;
    font-size: .3em;
    box-shadow: 0 0 0 .6em #2A345E;
}

.intro-name, .intro-web, b {
    color: #2A345E;
    font-size: 1.2em;
    font-weight: 500;
}

.intro-name, b {
    font-size: 1.6em;
}

b {
    text-transform: capitalize;
    font-weight: bold;
    padding-bottom: 1.6em;
}

.intro-web {
    display: flex;
    margin: 0 auto 10em auto;
    line-height: 1.2em;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align-last: center;

}

@media only screen and (max-width: 1000px) {
    .intro-container {
        flex-direction: column;
    }

    .intro-article {
        width: 100%;
    }

    .intro-image {
        width: 100%;
    }

}

.polygon-up-on-right {
    margin-bottom: -3.16px;
    margin-top: -20vh;
}

svg {
    width: 100%;
    height: 10vh;
    fill: #2A345E;
}

article {
    min-height: 60vh;
}

#languages {
    background-color: #2A345E;
    color: #E5E5E5;
    display: flex;
    justify-content: space-between;
}

.img-container {
    display: flex;
    width: 40%;
    min-height: 90%;
    align-self: center;
    justify-content: end;
}

.fallout {
    display: block;
    height: 100%;
    width: auto;
}

.article-intro {
    width: 40%;
    align-self: center;
}

.btn-projects {
    width: 20%;
    display: flex;
    flex-direction: column;
}

h3 {
    font-family: Josefin Sans;
    font-weight: bold;
    max-width: max-content;
    color: #2A345E;
    background-color: #E5E5E5;
    box-shadow: 0 0 0 .8em #E5E5E5;
    border-radius: 1px;
    font-size: 1.5em;
    margin: 3em auto 2em auto;
}

h2 {
    display: flex;
    text-transform: capitalize;
    font-size: 1.7em;
    margin: 1em auto 1.5em auto;
    font-family: Josefin Sans, sans-serif;
    font-weight: 600;
    color: #2A345E;
}

.article-title {
    color: #E5E5E5;
}

.article-languages {
    display: flex;
    margin: auto auto 1em auto;
    padding-right: 2em;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.2em;
}

.btn-small-flex>li {
    background-color: #AFA0A9;
    padding: .4em 1em;
    color: #0A0C15;
    font-family: Josefin Sans;
    margin: 1px;
    border-radius: 5px;
}

.btn-small-flex {
    text-align: center;
}

.btn-small-flex li {
    display: inline-block;
    padding: 0 .6em;
    margin: 5px;
    height: 2em;
    line-height: 2em;
    border-radius: 5em;
    background: #AFA0A9;
    text-align: center;
    color: #0A0C15;
}

.skills-container {
    width: 20%;
    margin: 0em 5em 0em 5em;
}

@media only screen and (max-width: 1000px) {
    #languages {
        flex-direction: column;
    }

    .languages {
        justify-content: center;
        align-content: center;
        margin-top: 3em;
    }

    .article-intro {
        min-width: 100%;
    }

    .btn-projects {
        text-align: center;
        justify-content: center;
        align-content: center;
    }
    .skills-container {
        justify-self: center;
        text-align: center;
        align-self: center;
        min-width: 100%;
    }

    .img-container {
        width: 100%;
        justify-content: center;
    }
}

#projects {
    min-height: 80vh;
}

.polygon-middle-right {
    fill: #E5E5E5;
    background-color: #AFA0A9;
    margin-bottom: -3px;
}
.cv {
    min-height: 10vh;
    background-color: #AFA0A9;
    display: flex;
    justify-content: space-between;
}

.cv-paragraph {
    display: flex;
    color: #2A345E;
    align-self: center;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 1px;
    justify-self: start;
    margin-left: 8em;
}

.cv-link {
    display: flex;
    color: #E5E5E5;
    font-family: Patua One, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1em;
    background-color: #2A345E;
    box-shadow: 0 0 0 .4em #2A345E;
    border-radius: 1px;
    text-align: center;
    align-self: center;
    margin-right: 8em;
}

.polygon-middle-right-end {
    fill: #C4C4C4;
    background-color: #AFA0A9;
    stroke: #C4C4C4;
}

#about {
    margin-top: -5px;
    min-height: 70vh;
    display: flex; 
    background-color: #C4C4C4;
}

.about:last-child {
    margin-bottom: 4em;
}

.article-about {
    width: 50%;
    padding-left: 3em;
}

.article-more {
    border-left: 3px solid #E5E5E5;
    padding-left: 3em;
    width: 50%;
}

h4 {
    color: #0A0C15;
    font-size: 1.3em;
    font-weight: 600;
    font-family: Josefin Sans, sans-serif;
    margin: 1.5em 0 1em 0;
}

.typing {
    display: flex;
}

.writting {
    margin-left: 8px;
    position: relative;
    margin-bottom: 2em;
}

@keyframes blink {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.writting::after {
    content: "";
    position: absolute;
    right: -3px;
    width: 1px;
    height: 90%;
    border-right: 2px solid;
    animation: blink 0.9s infinite ease;
}

h5 {
    color: #2A345E;
    line-height: 1.1em;
    letter-spacing: 1px;
    font-size: 1.3em;
    font-weight: 500;
    font-family: Patua One;
    text-align: center;
}



strong {
    opacity: 0;
    transition: all 1s ease;
}

strong.fade {
    opacity: 1;
}

.about>p {
    color: #2A345E;
    line-height: 1.1em;
    letter-spacing: 1px;
}

.article-more>p {
    color: #2A345E;
    line-height: 1.1em;
    letter-spacing: 1px;
    margin-bottom: 8em;
}

@media only screen and (max-width: 1000px) {
    #about {
        flex-direction: column; 
    }
    
    .article-about {
        width: 100%;
    }
    .article-more {
        width: 100%;
    }
}

/* ============================================================================ PREVIEW ARTICLES ============================================================================ */
.cards-container {
    display: flex;
    justify-content: space-around;
}

.cards-container > .cards > a {
    align-self: end;
    margin: 0 2em 2em 0;
}

.cards {
    width: calc(100% / 3);
    min-height: 30vh;
    background-color: #E5E5E5;
    margin: 1em;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.paraphrase {
    display: flex;
    margin: 1em 1em;
    color: #2A345E;
    line-height: 1.1em;
    letter-spacing: 1px;
    margin-bottom: 2em;
}

.cards-container>p {
    align-self: end;
}

.card-img {
    height: auto;
    width: 70%;
    align-self: center ;
    margin-top: 1em;
}

@media only screen and (max-width: 1000px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
}
/* ============================================================================ FOOTER ============================================================================ */
footer {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: #0A0C15;
    display: flex;
    flex-direction: column;
    color: #E5E5E5;
    width: 100%;
    font-size: .8em;
    font-weight: 600;
    line-height: 2em;
    letter-spacing: 1px;
}
.wrapper {
    margin: 0 2em 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
}

.link-list {
    display: flex;
    flex-direction: column;
}

.link-list li {
    margin-top: .2em;
    margin-bottom: .2em;
}

.site-plan {
    display: flex;
    margin-right: 2em;
}

.footer-social {
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
}

.footer-down {
    display: flex;
    justify-content: space-evenly;
    color: #E5E5E5;
    background-color: #030407;
    padding: 1px 0 1px 0;
    align-items: center;
    font-size: .6em;
}

/* ============================================================================ BURGER MOBILE ============================================================================ */

.menu__mobile {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    background-color: #0a0c15af;
    color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4em;
    margin-top: 3em;
    
}

@keyframes menu-mobile-transition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.nav__mobile, .social-nav__mobile {
    font-size: 1.2em;
}

.active {
    visibility: visible;
    animation: menu-mobile-transition 1s;
}

.nav-spacing__mobile {
    margin: 1em 0 1em 0;
}

@media only screen and (min-width: 800px) {
    .active {
        visibility: hidden;
    }
}

/* ============================================================================ PAGE CONTACT ============================================================================ */

.contact-wrapper {
    background: linear-gradient(to right, 
    #E5E5E5 0%,
    #E5E5E5 50%,
    #0A0C15 50%,
    #0A0C15 100%
    );
    min-height: 100vh;
    padding-top: 8em;
    width: 100%;
}

.contact-title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
}

h6 {
    font-family: Josefin Sans, sans-serif;
    color: #E5E5E5;
    white-space: nowrap;
    letter-spacing: .1em;
    font-size: 4em;
    position: relative;
    font-weight: 500;
}

h6::before {
    content: attr(data-heading);
    position: absolute;
    left: 0;
    color: #030407;
    width: 50%;
    overflow: hidden;
}

.contact-container {
    display: flex;
}

.input-container {
    padding: 0 5% 0 5%;
    width: 50%;
    display: flex;
}

label {
    font-family: Josefin Sans, sans-serif;
    font-size: 1.35em;
    font-weight: 500;
    color: #030407;
}

#id_email {
    display: block;
    width: 100%;
    left: 0;
    padding: 1em; /* Some padding */ 
    border: 1px solid black; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2em; /* Add a top margin */
    margin-bottom: 1em; /* Bottom margin */

}

#id_sujet {
    display: block;
    width: 100%;
    left: 0;
    padding: 1em; /* Some padding */ 
    border: 1px solid #030407; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2em; /* Add a top margin */
    margin-bottom: 1em; /* Bottom margin */

}

#id_message {
    display: block;
    width: 100%; /* 50% width */
    left: 0; /* 50% to the left*/
    padding: 5em 15em; /* Some padding */ 
    border: 1px solid black; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2em; /* Add a top margin */
    margin-bottom: 1em; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

button[type=submit] {
    background-color: #4CAF50;
    color: #E5E5E5;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #45a049;
}

.social-links-wrapper {
    font-family: Josefin Sans, sans-serif;
    font-size: 1.35em;
    font-weight: 500;
    line-height: 4em;
    color: #E5E5E5;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-links>li {
    border-bottom: #E5E5E5 1px solid ;
    border-radius: 10px;
}

@media only screen and (max-width: 900px) {

    h6 {
        color: #030407
    }

    h6::before {
        content: attr(data-heading);
        position: absolute;
        left: 0;
        color: #030407;
    }

    .contact-wrapper {
        background: linear-gradient(to bottom, 
        #E5E5E5 0%,
        #E5E5E5 50%,
        #0A0C15 50%,
        #0A0C15 100%
        );
    }

    .input-container {
        width: 100%;
    }

    button[type=submit] {
        margin: 0 0 2em 0;
    }

    .contact-container {
        flex-direction: column;
    }

    .social-links-wrapper {
        width: 100%;
        line-height: 2em;
    }

    .contact-links {
        margin: 2em 0;
    }

    .contact-links>li>a {
        color: #E5E5E5;
    }

    .contact-links>li {
        line-height: 3.5em;
    }

}

/* ============================================================================ PAGE ARTICLE ============================================================================ */
.project-presentation-wrapper {
    padding-top: 10vh;
    min-height: 30vh;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    font-family: Josefin Sans, sans-serif;
    color: #0A0C15;
}

.article-title {
    font-size: 1.7em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #E5E5E5;
    line-height: 2em;
}

.single {
    color: #0A0C15;
}

.presentation-position {
    max-width: 1200px;
    display: flex;
    margin: auto auto;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.article-wrapper {
    background-color: #E5E5E5;
    min-height: 60vh;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;

}

.article-container {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: auto;
    margin-left: 1em;
    font-family: Raleway, Arial, sans-serif;
}

.article-container>p {
    font-size: 1em;
    letter-spacing: .5px;
    font-family: Assistant;
}

.article-title-section {
    margin: 1em 0 1em 0;
}


.image-wrapper {
    display: flex;
    width: 50%;
    height: auto;
    align-self: center;
    margin-right: 1em;
}

.article-image {
    display: flex;
    margin: auto;
    width: 100%;
}

.projects-nav {
    max-width: 1237px;
    display: flex;
    justify-content: space-between;
    margin: 1.5em auto 0 auto;
}

@media only screen and (max-width: 1000px) {
    .article-wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .article-container {
        display: flex;
        width: 100%;
        min-height: 60vh;
        
    }
    
    .article-title-section {
        justify-self: center;
        align-self: center;
    }

    .image-wrapper {
        display: flex;
        width: 100%;
        min-height: 60vh;
    }
}

.projects-nav {
    font-family: Raleway, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    min-height: 10vh;
}


.slide:hover,
.slide:focus {
  box-shadow: inset 15em 0 0 0 #AFA0A9;
}

button {
    color: #ad879e;
    transition: 0.35s;
}

button:hover, button:focus {
    border-color:#AFA0A9;
    color: #E5E5E5;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 1em;
    padding: 1em 2em;
}

