{% include 'header.html' %}
{% load static %}


{% block content %}
    <article class="article" id="projects">
        <h2 class="projects">Projets faits en {{ category.name }} :</h2>
        <div class="cards-container">
            {% for post in category.post_set.all %}
            <a class="cards" href="{% url 'post-detail' post.pk %}">
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="Image visual for the articles" class="card-img">
                {% endif %}
                <div class="paraphrase">
                    <p>
                        {{ post.text|truncatechars:135|safe }}
                    </p>
                </div> 
            </a>
            {% endfor %}
        </div> 
    </article>
{% endblock content %}


{% include 'footer.html' %}