{% load static %}
{% include 'header.html' %}
{% block title %}{{ post.title }}{% endblock %}
<div class="project-presentation-wrapper">
    <div class="presentation-position">
        <h1 class="article-title single">{{ post.title }}</h1>
        <p class="projects-types">Projet personnel Logo, Site web responsive</p>
        <p class="projects-tags">développement / design / projet personnel</p>
    </div>
</div>
<div class="projects-nav">
    <button class="slide">
        <a class="previous-project" href="">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Projet précédent
        </a>
    </button>
    <button class="slide">
        <a class="previous-project" href="">
            Projet suivant
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
    </button>
</div>
{% block content %}
<div class="article-wrapper">
    
    <div class="image-wrapper">
        <img  class="article-image" src="{% static 'images/michael-michera-by-michael-michera-zsummit-sculpt-off-2017-z.jpg' %}" alt="">
    </div>
    <div class="article-container">
        <h2 class="article-title-section"> Le projet</h2>
        <p> {{ post.text|linebreaks|safe }}</p>
        <h2 class="article-title-section"> Objectif </h2>
        <p>{{ post.goalText|linebreaks|safe }}</p>
        <h2 class="article-title-section"> Languages</h2>
        <p>{{ post.languagesText|linebreaks|safe }}</p>
        <h2 class="article-title-section"> Logiciels</h2>
        <p>{{ post.softwaresText|linebreaks|safe }}</p>
    </div>
</div>
{% endblock content %}
<div class="projects-nav">
    <button class="slide">
        <a class="previous-project" href="">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Projet précédent
        </a>
    </button>
    <button class="slide">
        <a class="previous-project" href="">
            Projet suivant
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
    </button>
</div>
{% include 'footer.html' %}