{% load static %}
{% include 'header.html' %}
{% include 'fsttest.html' %}

{% block content %}
<article class="article" id="projects">
    <h2 class="projects">Projets</h2>
    <div class="cards-container">
        {% for post in posts %}
        <a class="cards" href="{% url 'post-detail' post.pk %}">
            <img src="{% static 'images/logo-red.png' %}" alt="Red Dragon" class="card-img">
            <div class="paraphrase">
                <p>
                    {{ post.text|truncatechars:135|safe }}
                </p>
            </div> 
        </a>
        {% endfor %}
    </div> 
</article>
{% endblock content %}

{% include 'lsttest.html' %}
{% include 'footer.html' %}