{% load static %}
            <aside>
                <svg id="cv-anchor" class="polygon-middle-right">
                    <use xlink:href="#svg-middle-right">
                        <symbol id="svg-middle-right" viewbox="0 0 200 30" preserveAspectRatio="none">
                            <polygon points="0 0,200 0,200 30">
                        </symbol>
                    </use>
                </svg>
                <div class="cv">
                    <p class="cv-paragraph">Si vous le souhaitez, mon CV se trouve ici :</p>
                    <a class="cv-link" href="{% static 'pdf/CV.pdf'%}">CV</a>
                </div>
                <svg id="cv-anchor-end" class="polygon-middle-right-end">
                    <use xlink:href="#svg-middle-right-end">
                        <symbol id="svg-middle-right-end" viewbox="0 0 200 30" preserveAspectRatio="none">
                            <polygon points="200 30,0 30,200 0">
                        </symbol>
                    </use>
                </svg>
            </aside>

            <article class="article" id="about">
                <div class="article-about">
                    <div class="about">
                        <h2 class="tools">Tools</h2>
                        <h4>Outils utilisés</h4>
                        <p>Figma, Git et Github, Raspberry Pi, Visual Studio Code</p>
                        <p>Environnement Windows et Linux</p>
                        <p>Conception MCD (LucidChart) & MLD</p>
                        <h4>Compétences</h4>
                        <p>Curieux et appliqué, mais avant tout passioné !</p>
                        <h4>Personnalité</h4>
                        <div class="typing">
                            <h5>&#139;h5&#155; J'aime</h5>
                            <h5 class="writting">hi</h5>
                        </div>
                    </div>
                </div>
                <div class="article-more">
                    <h2>Un peu plus ?</h2>
                    <p class="out-s">Ce portfolio est fait en Python avec le framework Django, c'est un language que je n'ai pas appris quand j'étais en formation. J'ai avant tout voulu le faire pour me confronter à une nouvelle techno, tomber devant les premiers problèmes et les surmonter (oui parce que rester à terre quand on tombe, ca fait mal aux genoux et ça fait des croutes).</p>
                    <p>Du coup, j'aime toujours PHP, mais j'aime aussi Python (toi aussi JS, je ne t'oublie pas). Je ne leur aient pas caché ma relation et ils ont l'air de bien le prendre pour le moment, de toute façon PHP doit obligatoirement faire une place à Python, il me reste la domotique de la maison à faire. Qui n'a jamais eu la flemme de devoir se lever pour allumer la lumière ou baisser le chauffage ? En plus, l'hiver ma femme a toujours trop froid, donc il fait trop chaud puisqu'elle pousse les radiateurs au max et je suis obligé de rentrer dans la peau de Solid Snake pour les baisser sans qu'elle ne le remarque.</p>
                </div>
            </article>
        </section>
    </main>