{% load static %}
<footer>
    <div class="wrapper">
        <div class="link-list">
            <ul class="footer-nav">
                <li> 
                    <a href="{% url 'portfolio'%}">Accueil</a>
                </li>
                <li>
                    <a href="{% url 'portfolio' %}#projects-anchor">Projets</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
        <div class="site-plan">
            <a href="">Plan du site</a>
        </div>
        <ul class="footer-social">
            <li>
                <a href="https://www.facebook.com/R0seAreRedVioletAreBlue"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            </li>
            <li class="nav-sp">
                <a href="https://github.com/BlueLondon1"><i class="fa fa-github-square" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/nicolastalbot/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
    <div class="footer-down">
        <p>Nicolas Talbot  &#169;</p>
        <a href="">Mentions légales</a>
    </div>
</footer>
<div class="menu__mobile">
    <nav class="nav__mobile">
        <ul>
            <li>
                <a href="{% url 'portfolio'%}">Accueil</a>
            </li>
            <li class="nav-spacing__mobile">
                <a href="{% url 'portfolio' %}#projects-anchor">Projets</a>
            </li>
            <li>
                <a href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="social-nav__mobile">
        <ul class="social-links-list__mobile">
            <li>
                <a href="https://www.facebook.com/R0seAreRedVioletAreBlue"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            </li>
            <li class="nav-spacing__mobile">
                <a href="https://github.com/BlueLondon1"><i class="fa fa-github-square" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/nicolastalbot/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</div>

<script src="{% static 'js/app.js' %}"></script>
</body>
</html> 