{% load static %}
<footer>
    <div class="wrapper">
        <div class="link-list">
            <ul class="footer-nav">
                <li> 
                    <a href="#">Accueil</a>
                </li>
                <li>
                    <a class="nav-sp" href="#">Projets</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
            </ul>
        </div>
        <div class="site-plan">
            <a href="">Plan du site</a>
        </div>
        <ul class="footer-social">
            <li>
                <i class="fa fa-facebook-official" aria-hidden="true"><a href=""></a></i>
            </li>
            <li class="nav-sp">
                <i class="fa fa-github-square" aria-hidden="true"><a href=""></a></i>
            </li>
            <li>
                <i class="fa fa-linkedin-square" aria-hidden="true"><a href=""></a></i>
            </li>
        </ul>
    </div>
    <div class="footer-down">
        <p>Nicolas Talbot  &#169;</p>
        <a href="">Mentions légales</a>
    </div>
</footer>
<div class="menu__mobile">
    <nav class="nav__mobile">
        <ul>
            <li><a href="">Accueil</a></li>
            <li class="nav-spacing__mobile"><a href="">Projets</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
    <div class="social-nav__mobile">
        <ul class="social-links-list__mobile">
            <li>
                <i class="fa fa-facebook-official" aria-hidden="true"><a href=""></a></i>
            </li>
            <li class="nav-spacing__mobile">
                <i class="fa fa-github-square" aria-hidden="true"><a href=""></a></i>
            </li>
            <li>
                <i class="fa fa-linkedin-square" aria-hidden="true"><a href=""></a></i>
            </li>
        </ul>
    </div>
</div>

<script src="{% static 'js/app.js' %}"></script>
</body>
</html> 