{% load static %}
        <div class="intro-container">
            <div class="intro-article">
                <div class="intro-title">
                    <h1 class="title">Hello</h1> <div class="intro-welcome">et bienvenue !</div>
                </div>
                <p class="intro-name">Je m'appelle</p><b>nicolas talbot.</b>
                <p class="intro-web">Je suis développeur web, sensible à la qualité et 
                    aux bonnes pratiques du web (opQuast).</p>
            </div>
            <div class="intro-image"></div> 
        </div>
    </header>

    <main>
        <svg id="skills-anchor" class="polygon-up-on-right">
            <use xlink:href="#svg-up-on-right">
                <symbol id="svg-up-on-right" viewbox="0 0 200 30" preserveAspectRatio="none">
                    <polygon points="200 30,0 30,200 0">
                </symbol>
            </use>
        </svg>
        <section class="articles" id="article-anchor">
            <article class="article" id="languages">
                <dix class="img-container">
                    <img  class="fallout" src="{% static 'images/Fallout.png' %}" alt="old computer from fallout game">
                </dix>
                <div class="skills-container">
                    <h3>Mes projets</h3>
                    <ul class="btn-small-flex">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>SCSS</li>
                        <li>jQuery</li>
                        <li>Javascript</li>
                        <li>PHP</li>
                        <li>Python</li>
                        <li>Django</li>
                        <li>Wordpress</li>
                        <li>MySQL</li>
                        <li>Ajax</li>
                        <li>Git</li>
                    </ul>
                </div>
                <div class="article-intro"> 
                    <h2 class="article-title">languages</h2>
                    <p class="article-languages">
                        Avant de commencer ma formation de Développeur, j'ai essayé d'apprendre à programmer en Python, avant tout pour savoir si programmer me plaisait vraiment. Ce qui est drôle quand on y pense, c'est qu'aujourd'hui, j'ai développé une grande affinité avec les languages back-end. PHP et Python ont été un véritable coup de coeur, j'adore concevoir des sites avec eux.
                    </p>
                    <p class="article-languages">
                       Le front-end était quand à lui assez flou au départ, ce n'est qu'en me lançant sur mon portfolio que j'ai vraiment appris à apprécier le fait de devoir tout calculer de A à Z, de la maquette graphique faite avec Figma jusqu'à la réalisation d'une base de données.
                    </p>
                    <p class="article-languages">En bref, j'aspire vraiment à grandir en tant que Dev Web, que ce soit en front-end ou en back-end.
                    </p>
                </div>
            </article>
            <svg id="projects-anchor" class="polygon-below-left">
                <use xlink:href="#svg-below-left">
                    <symbol id="svg-below-left" viewbox="0 0 200 30" preserveAspectRatio="none">
                        <polygon points="200 0,0 30,0 0">
                    </symbol>
                </use>
            </svg> 
            