{% load static %}
{% block content %}
        <div class="intro-container">
            <div class="intro-article">
                <div class="intro-title">
                    <h1 class="title">Hello</h1> <div class="intro-welcome">et bienvenue !</div>
                </div>
                <p class="intro-name">Je m'appelle</p><b>nicolas talbot.</b>
                <p class="intro-web">Je suis développeur web, sensible à la qualité et 
                    aux bonnes pratiques du web (opQuast).</p>
            </div>
            <div class="intro-image"></div> 
        </div>
    </header>

    <main>
        <svg id="skills-anchor" class="polygon-up-on-right">
            <use xlink:href="#svg-up-on-right">
                <symbol id="svg-up-on-right" viewbox="0 0 200 30" preserveAspectRatio="none">
                    <polygon points="200 30,0 30,200 0">
                </symbol>
            </use>
        </svg>
        <section class="articles" id="article-anchor">
            <article class="article" id="languages">
                <dix class="img-container">
                    <img  class="fallout" src="{% static 'images/Fallout.png' %}" alt="old computer from fallout game">
                </dix>
                <div class="skills-container">
                    <h3><a href="{% url 'portfolio' %}#projects-anchor">Mes projets</a></h3>
                    <ul class="btn-small-flex">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>SCSS</li>
                        <li>jQuery</li>
                        <li>Javascript</li>
                        <li>PHP</li>
                        <li>Python</li>
                        <li>Django</li>
                        <li>Wordpress</li>
                        <li>MySQL</li>
                        <li>Ajax</li>
                        <li>Git</li>
                    </ul>
                </div>
                <div class="article-intro"> 
                    <h2 class="article-title article-l">A propos</h2>
                    <p class="article-languages">
                        Pourquoi ce portfolio ? C'est vrai, ce serait quand même dommage de faire de la redite du CV ou de la Lettre de motivation. Allez je vais être fou, ce portfolio va servir à ce que vous appreniez un peu plus à me connaître en tant qu'individu, après tout si on est ammené à se cotoyer entre 8 et 10 h/j il vaut mieux que ce soit dans d'excellentes conditions. C'est partit, je me jète à l'eau (pas de panique, je sais nager). Vous aurez quoi qu'il arrive un vrai CV à la fin du site (non non, pas de lettre de motivation bateau, je me renseigne sur les entreprises avant ;))
                    </p>
                    <p class="article-languages">
                       Bon, si ce portfolio est là, c'est qu'idéalement, je cherche un job de Developpeur back-end ou fullstack, mais attention quand même, j'ai envoyé une Lettre de motivation à un gros ponte de la justice, vous allez avoir du mal à rivaliser.<a class="bat" href="{% static 'pdf/LMPDF.pdf'%}">Constatez le par vous même.</a>
                    </p>
                    <p class="article-languages">Bon, sa réponse est encodée en BAT36, je n'ai toujours pas réussi à le craquer. Shame on me. 
                    </p>
                </div>
            </article>
            <svg id="projects-anchor" class="polygon-below-left">
                <use xlink:href="#svg-below-left">
                    <symbol id="svg-below-left" viewbox="0 0 200 30" preserveAspectRatio="none">
                        <polygon points="200 0,0 30,0 0">
                    </symbol>
                </use>
            </svg> 

{% endblock content %}
            